<div class="container-fluid full-page bg-dark position-relative">
  <div class="popup-trigger bg-info col-3">
    <p><%= t ".support_online" %></p>
  </div>
  <div class="popup-wrapper col-3 collapse">
    <div class="popup-head p-1">
      <p><%= t ".close_chat" %></p>
    </div>
    <div class="start-chat-wrapper">
      <%= form_with(model: @chatroom, format: :json, id: "start-chat-form") do |form| %>
        <div class="field">
          Tên: <%= form.text_field :name, id: :name, class: "form-control", required: true, placeholder: t(".your_name"), value: current_user.name %>
        </div>
        <div class="field">
          Email: <%= form.email_field :email, id: :email, class: "form-control", required: true, placeholder: t(".your_email"), value: current_user.email, readonly: :true %>
        </div>
        <div class="actions">
          <%= form.submit t(".start_chat"), class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
    <div class="chat-wrapper bg-light collapse">
      <div class="chats">
      </div>
      <div class="chat-form">
        <%= form_with( scope: :chat, url: chats_path, format: :json, id: "chat-form") do |form| %>
          <div class="field">
            <%= form.text_field :message, id: :message, class: "form-control user-message", required: true, placeholder: t("chats.index.enter_message") %>
            <%= form.hidden_field :name, id: :name %>
            <%= form.hidden_field :chatroom_id, id: :chatroom_id %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
