<% provide :title, t(".all_users") %>
<h2 class="increase_margin_top"><%= t ".all_users" %></h2>

<ul class="users">
  <%= paginate @users, theme: "twitter-bootstrap-3" %>
  <table class="table table-bordered table-striped">
    <thead style="text-align: center;">
      <tr>
        <th><%= t "activerecord.attributes.user.name" %></th>
        <th><%= t "activerecord.attributes.user.email" %></th>
        <th><%= t "activerecord.attributes.user.address" %></th>
        <% if current_user.admin? %>
          <th><%= t "users.user.delete_user" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% if user.admin? %>
        <% else %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= user.email %></td>
            <td><%= user.address %></td>
            <% if current_user.admin? && !user.current_user?(current_user) %>
              <td><%= link_to t("users.user.delete"), user, method: :delete,
              data: {confirm: t("users.user.sure")} %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</ul>
