<div class="product-description">
  <% provide :title, @product.name + "- Chính hãng, cấu hình, giá bán" %>
  <h1 class="increase_margin_top"></h1>
  <div class="product-detail-title">
    <h2><%= @product.name %></h2>
    <%= social_share_button_tag(@product.name, url: "https://thegioimobilehus.herokuapp.com/products/#{@product.id}", desc: @product.name) %>
    <img src="<%= @product.picture %>" alt="products" style="width: 400px; margin-left: 100px;">
    <div class="product-description-content">
      <div class="well">
        <h2>Thông tin sản phẩm</h2>
        <p><%= @product.description %></p>
        <span class="price-title">Giá tiền:</span> <span class="price"><%= number_to_currency @product.price %> ₫</span>
        <% if !logged_in? %>
          <button class="btn btn-primary cart-btn cart-login" data-toggle="modal" data-target="#myModal"><%= t ".add_to_cart" %></button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Cảnh báo</h4>
                </div>
                <div class="modal-body">
                  <p>Đăng nhập để được mua hàng</p>
                </div>
                <div class="modal-footer">
                  <%= link_to "Đăng nhập", login_path ,class: "btn btn-default" %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>
        <% elsif current_user.admin? %>
          <button class="btn btn-primary cart-btn cart-login" data-toggle="modal" data-target="#myModal"><%= t ".add_to_cart" %></button>
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Cảnh báo</h4>
                </div>
                <div class="modal-body">
                  <p>Tài khoản admin không được mua hàng</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <%= button_to t(".add_to_cart"), cart_items_path(product_id: @product.id), class: "btn btn-primary cart-btn" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
