<% provide :title, t(".receipt") %>
<h2 class="increase_margin_top"><%= t ".receipt" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <h4><%= t "carts.index.your_name" %>: <span class="bold_info"><%= @receipt.user.name %></span></h4>
    <h4><%= t "carts.index.your_phone" %>: <span class="bold_info"><%= @receipt.user.phone_number %></span></h4>
    <h4><%= t "carts.index.your_address" %>: <span class="bold_info"><%= @receipt.user.address %></span></h4>
    <h4><%= t "receipts.new.payment_code" %>: <span class="bold_info"><%= @receipt.payment_code %></span></h4>
  </div>
</div>
